canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  div{
      z-index: 1000;
      position: relative;
  }

 
  .header-container{
      display: flex;
      width: 100%;
      user-select: none;
  }

  .maintenance-title{
      width: 100%;
      font-weight: 700;
      padding: 30px 24px ;
      text-align: center;
      font-size: 24px;
  }

  .pool-details{

       padding: 30px 24px ;
       text-align: center;
       font-size: 18px;

  }

  .individual-info{
      padding:8px;
  }

  .cardano-logo {
    width:340px;
    position: relative;
    left: calc(50% - 170px);
    margin-top: 16px;
    transition: all 1s;
    margin-bottom: 100px;

}